.header{
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
}
.tasklistcont{
  display: flex;
  flex-direction: row;
  padding: 50px;
  flex-wrap: wrap;
}


.iconx{
 font-size: 2rem;
  color: cornflowerblue;
}